* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    background-color: black;
}

h1 {
    font-size: 5rem;
    font-weight: normal;
}

a {
    color: Aquamarine;
}